body{
    display: grid;
    justify-content:center;
    align-items:center;
}
#forms{
    text-align: center

}

form,label,input {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}